{% load static %}

<header>
  <nav class="navbar navbar-dark navbar-expand-lg bg-dark py-0">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}">
        <img class="img-fluid" style="width: 80px" src="{% static 'logo.png' %}" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        {% if user.is_authenticated %}
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Profile</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Listing action
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="">Add Cars</a>
                </li>
                <li>
                  <a class="dropdown-item" href="">Add Brands</a>
                </li>
              </ul>
            </li>        
            <li class="nav-item">
              <a class="nav-link" href="">Logout</a>
            </li>
          </ul>
        {% else %}
          <div class="d-flex gap-3">
            <a href="" class="btn btn-outline-success">Login</a>
            <a href="" class="btn btn-outline-info">Register</a>
          </div>
        {% endif %}
      </div>
    </div>
  </nav>
</header>