{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Book detail - {{book.name}} | Bookomari{% endblock %}

{% block maincontent %}
  <section class="container py-5">
    <div class="row">
      <div class="col-6 border rounded-3">
        <img class="img-fluid" src="{{book.image.url}}" alt="detail image">
      </div>
      <div class="col-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title mb-3">Title: {{book.title}}</h5>
            <p class="card-text mb-3">Description: {{book.description}}</p>
            <p class="card-text mb-3">Price: {{book.borrowing_price}}</p>
            <p class="card-text mb-3">Category: {{book.categories.name}}</p>

            {% if user.is_authenticated %}
              <a href="{% url 'place-borrowing' %}?account_id={{user.account.account_id}}&book_slug={{book.slug}}" class="btn btn-primary">Borrow Now</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="container py-5">
    <div class="row mb-3">
      <div class="col-12">
        <h4>All Reviews({{reviews | length}})</h4>
      </div>
    </div>
    {% if reviews %}
      <div class="row">
        <div class="col-12">
          {% for review in reviews %}
          <div class="card mb-4">
            <div class="card-header">
              Posted: {{review.created_at}}
            </div>
            <div class="card-body">
              <blockquote class="blockquote mb-0">
                <p>{{review.content}}</p>
                <footer class="blockquote-footer">Reviewed by {{review.name}}<br />
                Email: {{review.email}}
                </footer>
              </blockquote>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    {% else %}
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            No review available.
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </section> 

  <section class="container py-5">
    {% if borrowings %}
      <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
          <h4 class="my-4">Post review:</h4>
          <form method="post" class="border rounded-3 p-3">
            {% csrf_token %}
            {{review_form | crispy}}
            <button class="btn btn-primary w-100">Submit</button>
          </form>
        </div>
        <div class="col-1"></div>
      </div>
    {% else %}
      <div class="row">
        <div class="text-center">Borrow book first to post review.</div>
      </div>
    {% endif %}
  </section>
{% endblock %}